version:  '3.8'
services:
    db:
      image: mysql:latest
      environment:
        MYSQL_ROOT_PASSWORD: 1234
        MYSQL_DATABASE: personnel_eval_db
      ports:
      - "3307:3306"
      volumes:
      # ฝั่งซ้าย ./init_db คือโฟลเดอร์ที่เครื่องเรา
      # ฝั่งขวา /docker-entrypoint-initdb.d คือจุดที่ Docker จะรออ่านไฟล์ (ห้ามเปลี่ยน)
      - ./init_db:/docker-entrypoint-initdb.d